name: Build and Push Docker Image

on:
  push:
    branches:
      - master
      - main
  workflow_dispatch: 

jobs:
  build-and-push:
    runs-on: ubuntu-latest 

    steps:
      - name: 0. Giải phóng dung lượng máy chủ GitHub (QUAN TRỌNG)
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: false
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true

      - name: 1. Lấy code từ repo
        uses: actions/checkout@v4

      - name: 2. Cài đặt công cụ Docker
        uses: docker/setup-buildx-action@v3

      - name: 3. Đăng nhập Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: 4. Build và đẩy Image v5
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/denglish-ai-worker:v5